@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

* {
    margin:0;
    padding: 0;
}
:root {
    --cor-escura-fundo:#222831;
    --cor-amarela:#ffff33;
    --cor-azul:#2772db;
    --cor-azul-claro:#0fc9e7;
    --cor-quinta:#ffffff;
    --cor-hover:#3a4750;
    --fonte-principal:"Poppins";
    --fonte-secundaria:"Afacad Flux";
}
body{
    box-sizing: border-box;
    background-color: var(--cor-escura-fundo);
    color: var(--cor-quinta);
}
.cabecalho{
    padding: 2% 0 0 15%;
    font-size: 1.5rem;
}
.cabecalho-menu{
    display: flex;
    gap: 80px;
}
.cabecalho-links{
    color: var(--cor-amarela);
    text-decoration: none;
    font-family: var(--fonte-principal);
}
.conteudo{
    margin: 5% 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:82px;
}
.conteudo-texto{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.conteudo-texto-titulo{
    font-family: var(--fonte-principal);
    font-size: 2.62rem;
}
.titulo-destaque{
    color: var(--cor-amarela);
}
.conteudo-texto-paragrafo{
    font-family: var(--fonte-secundaria);
    font-size: 1.625rem;
}
.minhafoto{
    width: 40%;
}
.conteudo-links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.conteudo-links-subtitulo{
    font-family: var(--fonte-secundaria);
    font-size: 1.75rem;
}
.conteudo-links-redes{
    display: flex;
    justify-content: center;
    color:var(--cor-amarela);
    width: 15.625rem;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    font-size: 1.5rem;
    font-family: var(--fonte-principal);
    font-weight: 600;
    padding: 20px 0;
    border: 2px solid var(--cor-amarela);
    gap: 12px;
}
.conteudo-links-redes:hover {
    background-color:var(--cor-hover) ;
    color: var(--cor-quinta);
    width: 280px;
    font-size: 1.62rem;
  }
  .titulos-abas{
    color:var(--cor-azul);
    font-family: var(--fonte-principal);
    font-size: 1.75rem ;
  }
  .lista-exibicao{
    font-family: var(--fonte-principal);
    font-size: 1.25rem;
  }
  .curriculo-destaque{
    color: var(--cor-azul-claro);
  }
  .rodape{
    color: var(--cor-amarela);
    text-align: center;
    font-size: 1.37rem;
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    padding: 8%;
  }
  @media(max-width:1200px){
    .conteudo{
        flex-direction:column-reverse; 
    }
    .cabecalho{
        padding:10%;
    }
    .cabecalho-menu{
        justify-content: center;
    }
    .conteudo{
        margin:5% 5%;
    }
    .conteudo-texto{
        width: auto;
        align-items: center;
    }
  }
